*{
    box-sizing: border-box;
}
body{
    font-family: 'Times New Roman', Times, serif;
    background-color: lavender;
}
/*Style navigation bar*/
.nav{
    background-color: black;
    display: flex;
}
.nav a{
    color: #fff;
    text-decoration: none;
    padding: 16px 18px;
    display: block;
}
/*Change on hover*/
.nav a:hover{
    background-color: #fff;
    color: black;
    font-size: 19px;
}
/*Style banner*/
.banner{
    text-align: center;
    background-color: greenyellow;
    color: black;
    padding: 60px;
}
/*Style the grid container*/
.row{
    display: flex;
}
.side{
    flex: 30%;
    padding: 20px;
}
.main{
    flex: 70%;
    padding: 20px;

}
.card{
    background-color: #fff;
    padding: 20px;
}
.fakeimg{
    padding: 20px ;
    background-color: #ccc;
    width: 100%;
}